<div id="storage-m" class="am-g am-g-collapse">
    <div class="panelWrap am-u-sm-3 left">
        <div class="am-panel am-panel-default ">
            <div class="am-panel-hd am-titlebar am-titlebar-multi">
                <div><h3 class="am-titlebar-title">文件柜管理</h3></div>
                <nav class="am-titlebar-nav am-fr">
                    <div class="am-btn-group">
                        <div class="am-collapse am-topbar-collapse am-btn-group" id="btn-menu">
                            <button type="button" class="am-btn am-btn-default" ng-click="addCategory();"
                                    ng-disabled="!selectedNode.name || selectedNode.categoryId || selectedNode.name=='#person' || selectedNode.name=='#cms'">
                                <img src="./images/File_cabinet_management/icon_add_category@2x.png"/>
                            </button><!--新建分类-->
                            <button type="button" class="am-btn am-btn-default" ng-click="addGroup();"
                                    ng-disabled="!selectedNode.name || selectedNode.categoryId || selectedNode.name=='#root' || selectedNode.name=='#person'">
                                <img src="./images/File_cabinet_management/icon_Add_file_cabinet@2x.png"/>
                            </button><!--新建文件柜-->
                            <button type="button" class="am-btn am-btn-default" ng-click="editCategoryOrGroup();"
                                    ng-disabled="!selectedNode.name || selectedNode.name=='#root'" >
                                <img src="./images/File_cabinet_management/icon_Edit_file_cabinet@2x.png"/>
                            </button><!--编辑-->
                            <button type="button" class="am-btn am-btn-default" ng-click="deleteCategoryOrGroup();"
                                    ng-disabled="!selectedNode.name || selectedNode.name=='#root' || selectedNode.name=='#person'||
                                             selectedNode.name=='#public' || selectedNode.name=='#cms' || selectedNode.name=='#album'" >
                                <img src="./images/File_cabinet_management/icon_delete_user@2x.png"/>
                            </button><!--删除-->
                            <button type="button" class="am-btn am-btn-default" ng-click="searchGroup();">
                                <img src="./images/File_cabinet_management/icon_search_file_cabinet@2x.png"/>
                            </button>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="am-panel-bd ngViewport">
                <!--tree begin-->
                <div ui-tree data-drag-enabled="false" class="tree-root">
                    <ol ui-tree-nodes="" ng-model="tree" class="am-list admin-sidebar-list">
                        <li ng-repeat="node in tree" ui-tree-node ng-include="'nodes_folderRenderer'"></li>

                    </ol>
                </div>
                <!--tree end-->
            </div>
        </div>
    </div>
    <div class="panelWrap am-u-sm-6 middle">
        <div class="am-panel am-panel-default ">
            <div class="am-panel-hd am-titlebar am-titlebar-multi">
                <div><h3 class="am-titlebar-title">{{currentGroupName}}</h3></div>
                <nav class="am-titlebar-nav am-fr">
                    <div class="am-btn-group">
                        <button type="button" class="am-btn am-btn-default" ng-click="addPermission();"
                                ng-disabled="!selectedNode.name">
                            <img src="./images/File_cabinet_management/icon_Add_user@2x.png"/>
                        </button><!--添加权限-->
                        <button type="button" class="am-btn am-btn-default" ng-click="">
                            <img src="./images/File_cabinet_management/icon_delete_user@2x.png"/>
                        </button><!--移除权限-->
                        <button type="button" class="am-btn am-btn-default">
                            <img src="./images/File_cabinet_management/icon_copy@2x.png"/>
                        </button><!--复制权限-->
                        <button type="button" class="am-btn am-btn-default">
                            <img src="./images/File_cabinet_management/icon_search_user@2x.png"/>
                        </button><!--搜索柜子-->
                    </div>
                    <div class="am-btn-group">
                        <button type="button" ng-class="{'am-disabled':pagingOptions.currentPage==1}"
                                ng-click="prevPage();" class="am-btn am-btn-default">
                            <img src="./images/User_Management/icon_back@2x.png"/>
                        </button>
                        <button type="button" ng-class="{'am-disabled':pagingOptions.currentPage==pagingOptions.totalPage}"
                                ng-click="nextPage();" class="am-btn am-btn-default">
                            <img src="./images/User_Management/icon_Next@2x.png"/>
                        </button>
                    </div>
                </nav>

            </div>

            <div class="am-panel-bd ngViewport groupInfoViewport">
                <div class="no-selected-group-cover am-vertical-align" ng-show="currentGroupId<0&&!adding">
                    <div class="am-vertical-align-middle">
                        <img src="./images/File_cabinet_management/icon_warning@2x.png"
                             width="16px" height="16px"/>
                        <i  class="am-text-default">请先选择一个柜子！</i>
                    </div>
                </div>
                <!--<div ng-show="currentGroupId>=0&&!adding">-->
                    <!--<div class="am-btn-toolbar group-info-tab">
                        <div class="am-btn-group am-btn-group-lg">
                            <button type="button" class="am-btn am-btn-default" ng-click="showPermission();"
                                    ng-class="{'am-active':isTabActive('{{tabName.PERMISSION}}')}">查看权限
                            </button>
                            <button type="button" class="am-btn am-btn-default" ng-click="showDetailInfo();"
                                    ng-class="{'am-active':isTabActive('{{tabName.DETAILINFO}}')}">详细信息
                            </button>
                        </div>
                        <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
                </div>-->
                    <!--uiview对应到permission.html-->
                    <div class="group-info-content" ui-view></div>

                <!--</div>-->
                <div class="add-group-form am-text-center" ng-show="currentCategoryId>=0&&adding">
                    <!--创建柜子表单-->
                    <form class="am-form" ng-if="addingGroup">
                        <fieldset>
                            <div class="am-form-group am-text-left">
                                <label for="name-ipt">名称</label>
                                <input type="text" class="" id="name-ipt" ng-model="newGroup.displayName">
                            </div>

                            <div class="am-form-group am-text-left">
                                <label for="desc-txt">描述</label>
                                <textarea class="" rows="5" id="desc-txt" ng-model="newGroup.desc"></textarea>
                            </div>
                            <div class="am-form-group am-text-left">
                                <label for="total-size-ipt">总容量(GB)</label>
                                <input type="number" min="1" max="297853" id="total-size-ipt" value="2" class="half-width" ng-model="newGroup.totalSize">
                                <small>范围：1~297853</small>
                            </div>

                            <div class="am-form-group am-text-left">
                                <label for="single-file-size-slt">单文件大小</label>
                                <select name="" id="single-file-size-slt" class="half-width" ng-model="newGroup.singleFileSize">
                                    <option value="10240">10MB</option>
                                    <option value="102400">100MB</option>
                                    <option value="1048576" selected>1GB</option>
                                    <option value="2097152">2GB</option>
                                    <option value="5242880">5GB</option>
                                </select>
                            </div>
                            <div class="am-form-group am-text-left">
                                <label for="paiban-slt">专辑方向</label>
                                <select name="" id="paiban-slt" class="half-width" ng-model="newGroup.paiban">
                                    <option value='Landscape' selected>横向</option>
                                    <option value="Portrait">竖向</option>
                                </select>
                            </div>


                            <button type="submit" class="am-btn am-btn-primary" ng-click="createGroupSubmit()">确定
                            </button>
                            <button type="reset" class="am-btn am-btn-gray" ng-click="cancelAdding();">取消</button>
                        </fieldset>
                    </form>
                    <!--创建分类表单-->
                    <form class="am-form" ng-if="addingCategory">
                        <fieldset>
                            <div class="am-form-group am-text-left">
                                <label for="category-name-ipt">名称</label>
                                <input type="text" class="" id="category-name-ipt" ng-model="newCategory.displayName">
                            </div>

                            <div class="am-form-group am-text-left">
                                <label for="category-desc-txt">描述</label>
                                <textarea class="" rows="5" id="category-desc-txt" ng-model="newCategory.desc"></textarea>
                            </div>

                            <button type="submit" class="am-btn am-btn-primary" ng-click="createCategorySubmit()">确定
                            </button>
                            <button type="reset" class="am-btn am-btn-gray" ng-click="cancelAdding()">取消</button>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="panelWrap am-u-sm-3 right">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-titlebar am-titlebar-multi">
                <h3 class="am-titlebar-title">详细信息</h3>
                <nav class="am-titlebar-nav am-fr">
                    <div class="am-btn-group">
                        <button type="button" class="am-btn am-btn-default" ng-click="">
                            <img src="./images/File_cabinet_management/icon_edit_user@2x.png"/>
                        </button><!--修改详细信息-->
                    </div>
                </nav>

            </div>
            <div class="am-panel-bd ngViewport " >
                <div class="details" ng-include="template.url"></div>
            </div>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" id="addCategoryModal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <i class="am-text-xs">新建分类</i>
            <a href="javascript:void(0);" class="am-close am-close-spin" data-am-modal-close data-am-modal-cancel>&times;</a>
        </div>
        <div class="am-modal-bd">
            <form class="am-form am-form-horizontal">
                <div class="am-form-group an-form-icon am-form-feedback" >
                    <label for="name-category" class="am-form-label am-u-sm-3">名称：</label><!--ng-class="{'am-form-error':wrongName}"-->
                    <div class="am-u-sm-9">
                        <input type="text" id="name-category" class="am-form-field " ng-model="newCategory.displayName" required>
                    </div>
                </div>
                <div class="am-form-group an-form-icon am-form-feedback">
                    <label for="desc-category" class="am-form-label am-u-sm-3">描述：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="desc-category" class="am-form-field " ng-model="newCategory.desc">
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn am-icon-remove" data-am-modal-cancel data-am-modal-close></span>
            <span class="am-modal-btn am-icon-check" ng-click="addCategorySubmit();" ng-disabled="newCategory.displayName"></span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" id="addGroupModal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <i class="am-text-xs">新建文件柜</i>
            <a href="javascript:void(0);" class="am-close am-close-spin" data-am-modal-close data-am-modal-cancel>&times;</a>
        </div>
        <div class="am-modal-bd">
            <form class="am-form am-form-horizontal">
                <div class="am-form-group an-form-icon am-form-feedback" >
                    <label for="name-category" class="am-form-label am-u-sm-3">名称：</label><!--ng-class="{'am-form-error':wrongName}"-->
                    <div class="am-u-sm-9">
                        <input type="text" id="name-group" class="am-form-field " ng-model="newGroup.displayName" required>
                    </div>
                </div>
                <div class="am-form-group an-form-icon am-form-feedback">
                    <label for="desc-category" class="am-form-label am-u-sm-3">描述：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="desc-group" class="am-form-field " ng-model="newGroup.desc">
                    </div>
                </div>
                <div class="am-form-group an-form-icon am-form-feedback">
                    <label for="icon-group" class="am-form-label am-u-sm-3">图标：</label>
                    <div class="am-u-sm-9">
                        <!--<input type="checkbox" id="icon-group" class="am-form-field " ng-model="newGroup.icon">-->
                        <select id="icon-group">
                        <option value="option1">{{newGroup.icon}}</option>
                    </select>
                    <span class="am-form-caret"></span>
                    </div>

                </div>
                <div class="am-form-group an-form-icon am-form-feedback">
                    <label for="total-size-group" class="am-form-label am-u-sm-3">总容量：</label>
                    <div class="am-u-sm-9">
                        <!--<input type="checkbox" id="total-size-group" class="am-form-field" ng-model="newGroup.totalSize">-->
                        <select id="total-size-group">
                            <option value="option1">{{newGroup.totalSize}}GB</option>
                        </select>
                        <span class="am-form-caret"></span>
                    </div>
                </div>
                <div class="am-form-group an-form-icon am-form-feedback">
                    <label for="single-file-size-group" class="am-form-label am-u-sm-3">单个文件大小：</label>
                    <div class="am-u-sm-9">
                        <!--<input type="checkbox" id="single-file-size-group" class="am-form-field " ng-model="newGroup.singleFileSize">-->
                        <select id="single-file-size-group">
                            <option value="option1">{{newGroup.singleFileSize}}GB</option>
                        </select>
                        <span class="am-form-caret"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn am-icon-remove" data-am-modal-cancel data-am-modal-close></span>
            <span class="am-modal-btn am-icon-check" ng-click="addGroupSubmit();"></span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" id="editCategoryOrGroupModal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <i class="am-text-xs">编辑</i>
            <a href="javascript:void(0);" class="am-close am-close-spin" data-am-modal-close data-am-modal-cancel>&times;</a>
        </div>
        <div class="am-modal-bd">
            <form class="am-form am-form-horizontal">
                <div class="am-form-group an-form-icon am-form-feedback" >
                    <label for="name-category" class="am-form-label am-u-sm-3">名称：</label><!--ng-class="{'am-form-error':wrongName}"-->
                    <div class="am-u-sm-9">
                        <input type="text" id="name-edit" class="am-form-field " ng-model="editNode.displayName" required>
                    </div>
                </div>
                <div class="am-form-group an-form-icon am-form-feedback">
                    <label for="desc-category" class="am-form-label am-u-sm-3">描述：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="desc-edit" class="am-form-field " ng-model="editNode.desc">
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn am-icon-remove" data-am-modal-cancel data-am-modal-close></span>
            <span class="am-modal-btn am-icon-check" ng-click="addCategorySubmit();" ng-disabled="newCategory.displayName"></span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="deleteCategoryOrGroupModal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"><i class="am--text-xs">删除文件夹/文件柜</i></div>
        <div class="am-modal-bd">
            确定要删除“{{selectedNode.displayName}}”这个组织吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn am-icon-remove" data-am-modal-cancel></span>
            <span class="am-modal-btn am-icon-check" data-am-modal-confirm></span>
        </div>
    </div>
</div>
<!--no Selection Alert-->
<div class="am-modal am-modal-alert" tabindex="-1" id="noSelectionAlert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">消息</div>
        <div class="am-modal-bd">
            请选择一条记录！
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<!--添加权限按钮侧边栏，嵌套显示目录-->
<script type="text/ng-template" id="nodes_usersRenderer">
    <div class="tree-node tree-node-content" >
        <div class="am-text-default" data-nodrag>
            <i ng-class="{'am-icon-caret-down':node.type!='team' && node.type!='allUsers' && !collapsed,
                          'am-icon-caret-right':node.type!='team' && node.type!='allUsers' && collapsed}"
               class="sidebarImg am-text-default" ng-click="openUsersTree(this);"></i>
            <i class="am-icon-folder am-text-secondary am-text-default"></i>
            <i class="am-text-default">{{node.text}}</i>&nbsp;&nbsp;
            <input type="checkbox" class="am-checkbox am-checkbox-inline" id="checkBox"
                   ng-if="node.type!='folder'&& node.type!='rootFolder'" ng-click="updateChecked($event,node.id,node.fullName);"/>
        </div>

    </div>
    <!--包含子目录的样式-->
    <ol ui-tree-nodes ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_usersRenderer'" collapsed="true" style="line-height: 2">
        </li>
    </ol>
</script>
<!--添加侧边栏，添加按钮弹出框-->
<div class="am-modal am-modal-alert" tabindex="-1" id="noCheckedAlert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">消息</div>
        <div class="am-modal-bd">
            请选择一个用户！
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="addPermissionToConfirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">添加用户</div>
        <div class="am-modal-bd">
            确定添加{{checkedCount}}个用户组到{{currentGroupName}}？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<!-- Nested node template -->
<script type="text/ng-template" id="nodes_folderRenderer">
    <div class="tree-node tree-node-content " ng-click="openTree(this);selectNode(this)"
         style="color: #000000" ng-style="isSelected(this)">
        <div data-nodrag data-target="menu-{{node}}" class="am-text-default">
            <!--这段判断图标的代码，在服务器重构后需修改-->
            <i ng-class="{'am-icon-caret-down':(node.leaf==false||node.leaf)&&!collapsed,'am-icon-caret-right':(node.leaf==false||node.leaf)&&collapsed}"
               class="sidebarImg am-text-secondary am-icon-sm"></i>
            <img src="./images/File_cabinet_management/icon_File_cabinets@2x.png"
                 width="16px" height="16px" ng-show="node.leaf!=false&&node.leaf!=true"/>
            <i class="am-text-xs am-dropdown-toggle">{{node.displayName}}</i>
            <div class="am-dropdown" data-am-dropdown ng-show="(node.leaf==false||node.leaf)&&showDropdownMenu(this)">
                <div class="am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-toggle-down"></span></div>
                <ul class="am-dropdown-content">
                    <li><a href="javascript:void(0);" ng-click="createGroup()">创建文件柜</a></li>
                    <li><a href="javascript:void(0);" ng-click="createCategory()">创建分类</a></li>

                </ul>
            </div>

        </div>


    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node="" style="line-height: 2" ng-include="'nodes_folderRenderer'"
            collapsed="true">
        </li>
    </ol>
</script>


